click
colorlog
httpie
pandas
parse
psycopg2
pyquery
python_dateutil
requests
tabulate
asyncpg
databases
email_validator
fastapi[all]
pydantic
sqlalchemy
uvicorn
docker_compose
flask
rich
fastapi-login
flask_login
bcrypt
passlib
emails
flask_sqlalchemy
python-jose[cryptography]
fastapi-login
pyjwt
aiosqlite
