bandit
click
colorlog
httpie
pandas
parameterized
parse
psycopg2
pyquery
pytest
python_dateutil
requests
tabulate
asyncpg
databases
email_validator
fastapi[all]
pydantic
sqlalchemy
uvicorn
docker_compose
flask